{% extends 'base.html' %}

{% block content %}
    <div class="page-wrapper">
        <!-- start wpo-page-title -->
        <section class="wpo-page-title">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="wpo-breadcumb-wrap">
                            <h2>Shop</h2>
                        </div>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>
        <!-- end page-title -->

        <!-- shop-section  start-->

        <div class="shop-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="shop-filter-wrap">
                            <div class="filter-item">
                                <div class="shop-filter-item">
                                    <h2>Search</h2>
                                    <div class="shop-filter-search">
                                        <form id="search-form" action="/shop" method="get">
                                            <div>
                                                <input type="text" class="form-control" name="search"
                                                       id="search-input" placeholder="Search">
                                                <button type="submit"><i class="ti-search"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="filter-item">
                                <div class="shop-filter-item">
                                    <h2>Price</h2>
                                    <ul>
                                        <li onclick="filterProducts('all')">
                                            <label class="topcoat-radio-button__label">
                                                All prices
                                                <input type="radio" name="topcoat" value="all">
                                                <span class="topcoat-radio-button"></span>
                                            </label>
                                        </li>
                                        <li onclick="filterProducts('50-100')">
                                            <label class="topcoat-radio-button__label">
                                                $50 – $100
                                                <input type="radio" name="topcoat" value="50-100">
                                                <span class="topcoat-radio-button"></span>
                                            </label>
                                        </li>
                                        <li onclick="filterProducts('100-200')">
                                            <label class="topcoat-radio-button__label">
                                                $100 – $200
                                                <input type="radio" name="topcoat" value="100-200">
                                                <span class="topcoat-radio-button"></span>
                                            </label>
                                        </li>
                                        <li onclick="filterProducts('200-300')">
                                            <label class="topcoat-radio-button__label">
                                                $200 – $300
                                                <input type="radio" name="topcoat" value="200-300">
                                                <span class="topcoat-radio-button"></span>
                                            </label>
                                        </li>
                                        <li onclick="filterProducts('300-400')">
                                            <label class="topcoat-radio-button__label">
                                                $300 – $400
                                                <input type="radio" name="topcoat" value="300-400">
                                                <span class="topcoat-radio-button"></span>
                                            </label>
                                        </li>
                                        <li onclick="filterProducts('400-99999')">
                                            <label class="topcoat-radio-button__label">
                                                $400 and more
                                                <input type="radio" name="topcoat" value="400-9999999">
                                                <span class="topcoat-radio-button"></span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="shop-section-top-inner">
                            <div class="shoping-list">
                            </div>
                            <div class="shoping-product" id="sort-info">
                                <span>Current Sorting: All Prices</span>
                            </div>
                            <div class="short-by">
                            </div>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="grid" role="tabpanel" aria-labelledby="grid-tab">
                                <div class="product-wrap" id="product-container">
                                    <div class="row align-items-center">
                                        {% for product in products %}
                                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="product-single-item active" data-product-id="{{ product.id }}"
                                                 data-in-wishlist="{{ product.in_wishlist }}">
                                                <div class="image">
                                                    <img src="{{ url_for('static',
                                                        filename='product_img/' + product.image_url) }}"
                                                             alt="{{ product.name }}">
                                                    <div class="shop-btn">
                                                        <a class="product-btn" href="{{ url_for('product_detail',
                                            product_id=product.id) }}">Shop Now</a>
                                                    </div>
                                                </div>
                                                <div class="text">
                                                    <h2><a href="product-single.html">{{ product.name }}</a></h2>
                                                    <div class="price">
                                                        <span class="present-price">${{ product.price }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- shop-area-end -->

    </div>
    <!-- end of page-wrapper -->

    <script src="../static/assets/js/function.js"></script>

{% endblock %}