{% extends 'base.html' %}
{% block content %}


        <!-- start wpo-page-title -->
        <section class="wpo-page-title">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="wpo-breadcumb-wrap">
                            <h2>Wishlist</h2>
                            <ol class="wpo-breadcumb-wrap">
                                <li><a href="index.html">Home</a></li>
                                <li>Wishlist</li>
                            </ol>
                        </div>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>
        <!-- end page-title -->

        <!-- cart-area start -->
        <div class="cart-area section-padding">
            <div class="container">
                <div class="form">
                    <div class="cart-wrapper">
                        <div class="row">
                            <div class="col-12">
                                <form action="cart">
                                    <table class="table-responsive cart-wrap">
                                        <thead>
                                            <tr>
                                                <th class="images images-b">Image</th>
                                                <th class="product-2">Product Name</th>
                                                <th class="ptice">Price</th>
                                                <th class="stock">Stock Status</th>
                                                <th class="remove remove-b">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for product in products %}
                                            <tr>
                                                <td class="images"><img src="{{ url_for('static', filename='product_img/' + product.image_url) }}" alt="{{ product.name }}"></td>
                                                <td class="product">
                                                    <ul>
                                                        <li class="first-cart">{{ product.name }}</li>
                                                        <!-- 更多产品信息 -->
                                                    </ul>
                                                </td>
                                                <td class="ptice">${{ product.price }}</td>
                                                <td class="stock">In Stock</td>
                                                <td class="action">
                                                    <ul>
                                                        <li class="c-btn">
                                                            <a href="{{ url_for('product_detail', product_id=product.id) }}" data-bs-toggle="tooltip" title="View Product">
                                                                <i class="fi flaticon-shopping-cart"></i>
                                                            </a>
                                                        </li>

                                                        <li class="w-btn"><a href="{{ url_for('remove_from_wishlist',
                                                        product_id=product.id) }}" data-bs-toggle="tooltip"
                                                                             title="Remove from Wishlist">
                                                            <i class="fi ti-trash"></i></a></li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>

                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- cart-area end -->

        <!-- start of wpo-site-footer-section -->
        <footer class="wpo-site-footer">
            <div class="wpo-upper-footer">
                <div class="container">
                    <div class="row">
                        <div class="col col-lg-3 col-md-6 col-sm-12 col-12">
                            <div class="widget about-widget">
                                <div class="logo widget-title">
                                    <img src="../static/assets/images/logo.svg" alt="blog">
                                </div>
                                <p>Mattis inelit neque quis donecyir eleng amet.
                                    Amet sed et cursus eu euiod.
                                    Egestaerets in morbiet tristique ornare vulputate vitae enim.</p>
                                <div class="social-widget">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col col-xl-2 col-lg-3 col-md-6 col-sm-12 col-12">
                            <div class="widget link-widget">
                                <div class="widget-title">
                                    <h3>Categories</h3>
                                </div>
                                <ul>
                                    <li><a href="shop.html">Women</a></li>
                                    <li><a href="shop.html">Men</a></li>
                                    <li><a href="shop.html">Kids</a></li>
                                    <li><a href="shop.html">Shoes</a></li>
                                    <li><a href="shop.html">Jwellery</a></li>
                                    <li><a href="shop.html">T-shirts</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col col-lg-4 col-md-6 col-sm-12 col-12">
                            <div class="widget blog-widget">
                                <div class="widget-title">
                                    <h3>Blog Post</h3>
                                </div>
                                <ul>
                                    <li>
                                        <div class="image">
                                            <img src="../static/assets/images/news/img-01.jpg" alt="">
                                        </div>
                                        <div class="text">
                                            <p><a href="../static/blog-single.html">It is a long established fact that a reader
                                                    will be distracted.</a></p>
                                            <span>12 December, 2023</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="image">
                                            <img src="../static/assets/images/news/img-02.jpg" alt="">
                                        </div>
                                        <div class="text">
                                            <p><a href="../static/blog-single.html">It is a long established fact that a reader
                                                    will be distracted.</a></p>
                                            <span>12 December, 2023</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col col-lg-3 col-md-6 col-sm-12 col-12">
                            <div class="widget newsletter-widget">
                                <div class="widget-title">
                                    <h3>Newsletter</h3>
                                </div>
                                <p>Subscribe to our newsletter and get 10% off your first purchase.</p>
                                <form>
                                    <div class="input-1">
                                        <input type="email" class="form-control" placeholder="Your Email Address.. "
                                            required="">
                                    </div>
                                    <div class="submit clearfix">
                                        <button type="submit">Subscribe</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> <!-- end container -->
            </div>
            <div class="wpo-lower-footer">
                <div class="container">
                    <div class="row">
                        <div class="col col-xs-12">
                            <p class="copyright"> Copyright &copy; 2023 Canun By <a href="http://www.bootstrapmb.com">bootstrapMB</a>. All
                                Rights Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end of wpo-site-footer-section -->


    </div>
    <!-- end of page-wrapper -->

{% endblock %}